---
title: Cars
permalink: /cars/
images:
  - image_path: /images/cars/Built1904.jpg
    title: 1904
  - image_path: /images/cars/Built1919.jpg
    title: 1919
  - image_path: /images/cars/Built1934.jpg
    title: 1934
  - image_path: /images/cars/Built1936.jpg
    title: 1936
  - image_path: /images/cars/Built1938.jpg
    title: 1938
  - image_path: /images/cars/Built1950.jpg
    title: 1950
  - image_path: /images/cars/Built1963.jpg
    title: 1963
  - image_path: /images/cars/Built1966.jpg
    title: 1966
  - image_path: /images/cars/Built1969.jpg
    title: 1969
  - image_path: /images/cars/Built1973.jpg
    title: 1973
  - image_path: /images/cars/Built1984.jpg
    title: 1984
  - image_path: /images/cars/Built2001.jpg
    title: 2001
  - image_path: /images/cars/Built2012.jpg
    title: 2012
---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="/images/Ideal-Image-Slider-master/ideal-image-slider.css">
  <link rel="stylesheet" href="/images/Ideal-Image-Slider-master/themes/default/default.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>There are 6,407 active subway cars in New York City. But there isn't a single type of car across the system. There are two main reasons for this: 1) Cars have to fit within the structure of lines built to different specifications by 3 separate tunneling companies; and 2) The city hires different contractors to build the cars themselves. So New Yorkers have to live with subways with different seat configurations and subway lines without countdown clocks (the different cars make it difficult to use a uniform tracking system). They say variety is the spice of life.</p>
        <div id="slider">
          {% for image in page.images %}
            <img src="{{ image.image_path }}" style="width:100%" alt="{{ image.title }}">
          {% endfor %}
      </div>
    </div>

    {% include footer.html %}
    <script src="/images/Ideal-Image-Slider-master/ideal-image-slider.js"></script>
    <script src="/images/Ideal-Image-Slider-master/extensions/captions/iis-captions.js"></script>
    <script>
    	var slider = new IdealImageSlider.Slider('#slider');
      slider.addCaptions();
      slider.start();
  	</script>
  </body>

</html>







  

